<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <h1>CodeMirror Demo</h1>
    <div id="wrapper" style="width: 50%"></div>
    <button id="runBtn">Run</button>
</body>
</html>